.button {
  position: absolute;
  z-index: 10;
  padding: 0.25rem;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: #f1f1f1;
  box-shadow: var(--shadow-duck);
  cursor: pointer;
}

.button:focus-visible {
  box-shadow: 0 0 0 4px var(--color-text-muted);
  outline-offset: 2px;
}

.button:hover {
  animation-play-state: paused;
}

.inner {
  display: block;
  border-radius: 9999px;
  transition: transform 0.2s;
}

.inner:hover {
  transform: scale(1.1);
}
